# Arquivos de cache do Python
__pycache__/
*.pyc

# Ambiente virtual
venv/
env/

# Arquivos de log
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp

# Arquivos de IDEs
.vscode/
.idea/

# Arquivos de banco de dados
*.sqlite3
*.db

# Arquivos de compilação e distribuição
dist/
build/
*.egg-info/
*.egg
